<p id="notice"><%= notice %></p>

<h1>Your Cart</h1>
<br>
<table class="table table-hover">
	<% for item in @cart.cart_items %>
	<tr>
		<td><%= item.quantity %>&times; <%= link_to item.product.name, 	item.product %></td>
		<td class="item_price"><%= number_to_currency(item.total_price) %></td>
		<td class="hidden-xs">
		<a class="btn-sm btn-success" href="">
		<span class="glyphicon glyphicon-plus"></span></a>
		<a class="btn-sm btn-danger" href="">  <span class="glyphicon glyphicon-minus"></span></a>
		</td>
	
		<td class="hidden-md hidden-lg hidden-sm vissible-xs"><a class="btn-xs btn-success" href="">
		<span class="glyphicon glyphicon-plus"></span></a>
		<a class="btn-xs btn-danger" href="">  <span class="glyphicon glyphicon-minus"></span></a>
		</td>
	</tr>
	<% end %>
          
	<tr>
		<td></td>
		<td><h4>Total: <%= @cart.total_price %></h4></td>
		<td></td>
	</tr>
</table>

<button class="btn btn-info pull-right">Check out</button>