	<!DOCTYPE html>
<html>
<head>
  <title>TemplateTienda</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <meta name="viewport" content="width=device-width">
  <%= csrf_meta_tags %>
  <!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
</head>
<body>

    <div class="container">
      <!-- Static navbar -->
      <div class="navbar navbar-default">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Gousto</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="<%= 'active' if params[:controller] == 'welcome' %>"><a href="/">Inicio</a></li>
            <li class="<%= 'active' if params[:controller] == 'products' %>"><%= link_to "Productos",    '/products' %></li>
         <!--   <li class="<%= 'active' if params[:controller] == 'categories' %>"><%= link_to "Categorias",    '/categories' %></li> -->
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <li><button type="button" class="botonShoppingCart btn">
  <span class="glyphicon glyphicon-shopping-cart"></span>
</button>
</li>

             <% if user_signed_in? %>
           <li>
       <%= link_to destroy_user_session_path, method: :delete do %>
        <div class="btn-xs btn-danger">Log out</div>
        <% end %>

           </li>
          <% else %>


			  <li class="dropdown" id="menu1">
             <a class="dropdown-toggle" data-toggle="dropdown" href="#menu1">
               <div class="btn-xs btn-success block">Login <b class="caret"></b></div>
                
             </a>
             <div class="dropdown-menu">

              <%= form_for("user", :url => user_session_path, :html => {role:"form", :class => 'logindropdown'}) do |f| %>
              
                  <div class="form-group">
                    <%= f.text_field :email, :class => "form-control", :placeholder => "Email" %>
                  </div>
                 
                  <div class="form-group">
                    <%= f.password_field :password, :class => "form-control", :placeholder => "Password" %>
                  </div>

                  <div class="checkbox">
                    <%= f.check_box :remember_me %>
                    <%= f.label :remember_me %>
                  </div>

                  <%= f.submit 'Sign in', :class => "btn btn-primary" %>
                  <%= link_to "Forgot your password?", new_password_path('user') %>
              
              <% end %>


             </div>
           </li>
        
           <% end %>
          </ul>
        </div><!--/.nav-collapse -->
      </div>

<%= yield %>

<p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

</div>

</body>
</html>


